<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/809f3a73-4a8c-4874-a243-b8ade2dc0b7b/resourceGroups/MyMicroserviceResources/providers/Microsoft.Web/sites/rapidtext</ResourceId>
    <ResourceGroup>MyMicroserviceResources</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://rapidtext.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rapidtext.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rapidtext</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rapidtext</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>